<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment6"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"
        tools:targetApi="p">
        <activity
            android:name=".StaffBill"
            android:exported="false" />
        <activity
            android:name=".StaffEdit"
            android:exported="false" />
        <activity
            android:name=".StaffPage"
            android:exported="false" />
        <activity
            android:name=".Staff"
            android:exported="false" />
        <activity
            android:name=".Pay"
            android:exported="false" />
        <activity
            android:name=".BillDetail"
            android:exported="false" />
        <activity
            android:name=".ListOfBill"
            android:exported="false" />
        <activity
            android:name=".StaffRegister"
            android:exported="false" />
        <activity
            android:name=".StaffMain"
            android:exported="false" />
        <activity
            android:name=".StaffLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Entry"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>